# you probably don't want to change these!
# only change them if you're using a server with multiple network interfaces
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

exec permissions.cfg # vMenu
start vMenu #معروفة_اعتقد

set mysql_connection_string "server=127.0.0.1;database=vrpfx;userid=root;"
set playernames_svTemplate "[{{id}}] {{firstname}} {{name}}"
set playernames_template "{{اسم سيرفرك}}"

#required
start mapmanager
start chat #الشات
start spawnmanager
start b2k-minimap
start fivem
start hardcap
start rconlog
start mysql-async
start noped #حذف_بوتات
start noped2 #حذف_بوتات2
start vrp_mysql
start vrp_loadfreeze 
start railhouse
start online
start bob74_ipl
start pvp
start Ped
start club_B
start club_R
start racetrack
start blips
start ThereMap
start indicators
start simeonfix #كراج_تصليح_2
start pNotify
start BrockALPR

#vrp
start vrp
start vrp_barbershop #الحلاق
start vrp_carwash #غسيل السيارات
start vRP_AdvancedFuel #محطة_الوقود
start vrp_basic_menu
start vrp_barrier
start vrp_fixdvcar #تصليح_حذف_السياره
start vRP_allrevive #انعاش_الجميع
start vrp_arevive #انعاش_عن_بعد
start vrp_headbag #تغطية_الوجه

#custom

start Maps #المابات
start VK_interiors
start lscustoms #كراج_تصليح
start minimap #الخريطة
start playerlist #قائمة اللاعبين
start CarryPeople #حمل_لاعب
start menuu #اختصارات
start radio #راديو
start ratb-time #وقت_الراتب
start rentbike #تاجير_دراجه
start TakeHostage #اخذ_رهينة
start LoadingScreen #شاشة_انتظار
start trew_hud_ui #الاكل_والعداد
start watermark #التاريخ_والوقت_اللي_في_النص_فوق

#condensed scripts (non-vrp)
start CustomScripts

#police vehicles

#police skins

#job vehicles

#custom cars

#Keep this here, it stops some errors
restart sessionmanager

sv_scriptHookAllowed 0

# change this and remove the # before rcon_password if you are using rcon, if not, leave this as is
#rcon_password ChangeMe

sv_hostname "R1#1111 Files - Discord.gg/R1"

# nested configs!
#exec server_internal.cfg

# loading a server icon (96x96 PNG file)
load_server_icon logo.png

# convars for use from script
set temp_convar "hey world!"

# disable announcing? clear out the master by uncommenting this
#sv_master1 ""

# want to only allow players authenticated with a third-party provider like Steam?
#sv_authMaxVariance 1
#sv_authMinTrust 5

# add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.steam:110000112345678 group.admin # add the admin to the group
add_ace group.admin "vMenu.Everything" allow
add_principal identifier. group.admin

# hide player endpoints in external log output
sv_endpointprivacy true

# server slots limit (default to 30)
sv_maxclients 32

# Get a key from https://keymaster.fivem.net
sv_licensekey zeb62qgj6aljow0504dqb7v419zagmw5
